.ejeck {
    position: absolute;
    top: 55px;
}

.ejec {
    position: absolute;
    top: 450px;
}

.ejek {
    position: absolute;
    top: 450px;
    left: 450px;
}

.zayc {
    position: absolute;
    top: 630px;
}

.zayz {
    position: absolute;
    top: 570px;
}

.zay {
    position: absolute;
    top: 615px;
    left: 290px;
}
